<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magium>
            <ad>
                <enabled>0</enabled>
                <remap_https>1</remap_https>
            </ad>
        </magium>
    </default>
</config>
