<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magium" translate="label" sortOrder="600">
            <label>Magium Modules</label>
        </tab>
        <section id="magium" translate="label" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Magium</label>
            <tab>magium</tab>
            <resource>Magium_Magento2AzureAd::config</resource>
            <group id="ad" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Active Directory</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_id" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                    <comment><![CDATA[You can see how to set this up at <iframe width="560" height="315" src="https://www.youtube.com/embed/9FupzL2XsqA" frameborder="0" allowfullscreen></iframe>]]></comment>
                </field>
                <field id="client_secret" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0" >
                    <label>Client Secret</label>
                </field>

                <field id="remap_https" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Remap HTTPS</label>
                    <comment><![CDATA[Should the system remap HTTP-based URLs to HTTPS.  Azure Active Directory generally will not redirect to a non-secure URL (except localhost).  Enabling this setting protects against that.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
